
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/*.log

/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/resources/js

**/.bin/
**/node_modules
/.docs

*.old*
/vite.config.js
/webpack.mix.js
/package.json
/package-lock.json
/composer.lock